body {
  background-color: white;
  font-family: Geneva;
}


.topnav {
  background-color: black;
  overflow: hidden;
}

.topnav a {
  text-align: center;
  color: white;
  float: left;
  padding: 15px;
  font-size: 14px;
}

/* Change the link color on hover */
.topnav a:hover {
  background-color: #C0BCBC;
  color: white;
}
